<p>Last update: {{ lastUpdate }}</p>

<p>Add NuGet Source</p>
<pre>dotnet nuget source Add -Name "Zarlo" -Source "https://nuget.zarlo.dev/index.json"</pre>

<p>or as nuget.config</p>
<pre>
&lt;packageSources&gt;
    &lt;add key=&quot;Zarlo&quot; value=&quot;https://nuget.zarlo.dev/index.json&quot; protocolVersion=&quot;3&quot; /&gt;
&lt;/packageSources&gt;
</pre>

<h1>packages</h1>
{% for package in packages %}
<p>{{ package }}</p>
{% endfor %}
